:root {
    --white: #fff;
    --VeryDarkGray: hsl(0, 0%, 17%);
    --DarkGray: hsl(0, 0%, 59%);
    --font-size: 18px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

#container1 {
    background: url(../images/pattern-bg-desktop.png) center no-repeat;
    background-size: cover;
    height: 30vh;
    position: relative;
}

#container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100px;
}

#container2 h2 {
    color: var(--white);
    margin-top: 30px;
}

form#ipForm {
    margin: 15px;
}

form#ipForm input {
    padding: 16.9px;
    border-radius: 15px 0px 0px 15px;
    border: none;
    width: 400px;
    outline: none;
    transition: border 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

}

form#ipForm:hover {
    box-shadow: 0px 0px 20px rgba(61, 61, 61, 0.528);
    border-radius: 16px;
}

form#ipForm button {
    padding: 16.9px;
    margin-left: -4px;
    border-radius: 0px 15px 15px 0;
    border: none;
    background: var(--VeryDarkGray);
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}

form#ipForm button:hover {
    background-color: #5a5a5a;
}

#info {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    background-color: var(--white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 50px 20px;
    width: 80%;
    max-width: 1192px;
}

#info ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

#info li {
    display: flex;
    align-items: left;
    flex-direction: column;
    font-size: 18px;
    font-weight: bold;
    padding: 0 30px;
    position: relative;
}

#info ul li:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background-color: var(--DarkGray);
}

#info li h6 {
    font-size: 14px;
    font-weight: normal;
    color: #5a5a5a;
    margin-bottom: 5px;
    text-align: left;
}

#info li h1 {
    /* font-size: 28px; */
    font-weight: 600;
    margin: 0;
}


#map {
    height: 100vh;
    width: auto;
}



.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}